*.pth
*.pt
*.onnx
*.pk
*.model
*.zip
*.tar
*.pyc
*.log
*.o
*.so
*.a
*.exe
*.out
.idea
**.DS_Store**
**/__pycache__/**
**.swp
.vscode/
.env
.log
*.pid
*.ipynb*
build/
dist/
.cache/
server_cache/
app/.gradio/
*.pkl
save_results/*
*.egg-info/
lightx2v_train/output_train/*
lightx2v_train/output_infer/*
models/
images/
download_model.py
test_model.py
